---
Checks: "
    -*,
    bugprone-*,

    cert-*,
    -cert-err58-cpp,

    clang-diagnostic-*,
    clang-analyzer-*,

    concurrency-*,

    google-*,
    -google-readability-braces-around-statements,
    -google-readability-namespace-comments,
    -google-readability-todo

    misc-*,
    -misc-no-recursion,
    -misc-non-private-member-variables-in-classes,

    performance-*,
    -performance-move-const-arg,
    -performance-avoid-endl,
    -performance-enum-size,

    portability-*,

    readability-*,
    -readability-redundant-declaration,
    -readability-avoid-return-with-void-value,
    -readability-function-cognitive-complexity,
    -readability-uppercase-literal-suffix,
    -readability-identifier-length,

# CPP SPECIFIC CHECKS
    cppcoreguidelines-*, 

    modernize-*,
    -modernize-return-braced-init-list,
    -modernize-use-using,
    -modernize-use-trailing-return-type,

    hicpp-*,
    -hicpp-uppercase-literal-suffix,
"

FormatStyle:     'file'
